
/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.sgiri-serif{font-family:serif}.sgiri-sans-serif{font-family:sans-serif}.sgiri-cursive{font-family:cursive}.sgiri-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.sgiri-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.sgiri-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.sgiri-table,.sgiri-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.sgiri-table-all{border:1px solid #ccc}
.sgiri-bordered tr,.sgiri-table-all tr{border-bottom:1px solid #ddd}.sgiri-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.sgiri-table-all tr:nth-child(odd){background-color:#fff}.sgiri-table-all tr:nth-child(even){background-color:#f1f1f1}
.sgiri-hoverable tbody tr:hover,.sgiri-ul.sgiri-hoverable li:hover{background-color:#ccc}.sgiri-centered tr th,.sgiri-centered tr td{text-align:center}
.sgiri-table td,.sgiri-table th,.sgiri-table-all td,.sgiri-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.sgiri-table th:first-child,.sgiri-table td:first-child,.sgiri-table-all th:first-child,.sgiri-table-all td:first-child{padding-left:16px}
.sgiri-btn,.sgiri-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.sgiri-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.sgiri-btn,.sgiri-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.sgiri-disabled,.sgiri-btn:disabled,.sgiri-button:disabled{cursor:not-allowed;opacity:0.3}.sgiri-disabled *,:disabled *{pointer-events:none}
.sgiri-btn.sgiri-disabled:hover,.sgiri-btn:disabled:hover{box-shadow:none}
.sgiri-badge,.sgiri-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.sgiri-badge{border-radius:50%}
.sgiri-ul{list-style-type:none;padding:0;margin:0}.sgiri-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.sgiri-ul li:last-child{border-bottom:none}
.sgiri-tooltip,.sgiri-display-container{position:relative}.sgiri-tooltip .sgiri-text{display:none}.sgiri-tooltip:hover .sgiri-text{display:inline-block}
.sgiri-ripple:active{opacity:0.5}.sgiri-ripple{transition:opacity 0s}
.sgiri-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.sgiri-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.sgiri-dropdown-click,.sgiri-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.sgiri-dropdown-hover:hover .sgiri-dropdown-content{display:block}
.sgiri-dropdown-hover:first-child,.sgiri-dropdown-click:hover{background-color:#ccc;color:#000}
.sgiri-dropdown-hover:hover > .sgiri-button:first-child,.sgiri-dropdown-click:hover > .sgiri-button:first-child{background-color:#ccc;color:#000}
.sgiri-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.sgiri-check,.sgiri-radio{width:24px;height:24px;position:relative;top:6px}
.sgiri-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.sgiri-bar-block .sgiri-dropdown-hover,.sgiri-bar-block .sgiri-dropdown-click{width:100%}
.sgiri-bar-block .sgiri-dropdown-hover .sgiri-dropdown-content,.sgiri-bar-block .sgiri-dropdown-click .sgiri-dropdown-content{min-width:100%}
.sgiri-bar-block .sgiri-dropdown-hover .sgiri-button,.sgiri-bar-block .sgiri-dropdown-click .sgiri-button{width:100%;text-align:left;padding:8px 16px}
.sgiri-main,#main{transition:margin-left .4s}
.sgiri-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.sgiri-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.sgiri-bar{width:100%;overflow:hidden}.sgiri-center .sgiri-bar{display:inline-block;width:auto}
.sgiri-bar .sgiri-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.sgiri-bar .sgiri-dropdown-hover,.sgiri-bar .sgiri-dropdown-click{position:static;float:left}
.sgiri-bar .sgiri-button{white-space:normal}
.sgiri-bar-block .sgiri-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.sgiri-bar-block.sgiri-center .sgiri-bar-item{text-align:center}.sgiri-block{display:block;width:100%}
.sgiri-responsive{display:block;overflow-x:auto}
.sgiri-container:after,.sgiri-container:before,.sgiri-panel:after,.sgiri-panel:before,.sgiri-row:after,.sgiri-row:before,.sgiri-row-padding:after,.sgiri-row-padding:before,
.sgiri-cell-row:before,.sgiri-cell-row:after,.sgiri-clear:after,.sgiri-clear:before,.sgiri-bar:before,.sgiri-bar:after{content:"";display:table;clear:both}
.sgiri-col,.sgiri-half,.sgiri-third,.sgiri-twothird,.sgiri-threequarter,.sgiri-quarter{float:left;width:100%}
.sgiri-col.s1{width:8.33333%}.sgiri-col.s2{width:16.66666%}.sgiri-col.s3{width:24.99999%}.sgiri-col.s4{width:33.33333%}
.sgiri-col.s5{width:41.66666%}.sgiri-col.s6{width:49.99999%}.sgiri-col.s7{width:58.33333%}.sgiri-col.s8{width:66.66666%}
.sgiri-col.s9{width:74.99999%}.sgiri-col.s10{width:83.33333%}.sgiri-col.s11{width:91.66666%}.sgiri-col.s12{width:99.99999%}
@media (min-width:601px){.sgiri-col.m1{width:8.33333%}.sgiri-col.m2{width:16.66666%}.sgiri-col.m3,.sgiri-quarter{width:24.99999%}.sgiri-col.m4,.sgiri-third{width:33.33333%}
.sgiri-col.m5{width:41.66666%}.sgiri-col.m6,.sgiri-half{width:49.99999%}.sgiri-col.m7{width:58.33333%}.sgiri-col.m8,.sgiri-twothird{width:66.66666%}
.sgiri-col.m9,.sgiri-threequarter{width:74.99999%}.sgiri-col.m10{width:83.33333%}.sgiri-col.m11{width:91.66666%}.sgiri-col.m12{width:99.99999%}}
@media (min-width:993px){.sgiri-col.l1{width:8.33333%}.sgiri-col.l2{width:16.66666%}.sgiri-col.l3{width:24.99999%}.sgiri-col.l4{width:33.33333%}
.sgiri-col.l5{width:41.66666%}.sgiri-col.l6{width:49.99999%}.sgiri-col.l7{width:58.33333%}.sgiri-col.l8{width:66.66666%}
.sgiri-col.l9{width:74.99999%}.sgiri-col.l10{width:83.33333%}.sgiri-col.l11{width:91.66666%}.sgiri-col.l12{width:99.99999%}}
.sgiri-rest{overflow:hidden}.sgiri-stretch{margin-left:-16px;margin-right:-16px}
.sgiri-content,.sgiri-auto{margin-left:auto;margin-right:auto}.sgiri-content{max-width:980px}.sgiri-auto{max-width:1140px}
.sgiri-cell-row{display:table;width:100%}.sgiri-cell{display:table-cell}
.sgiri-cell-top{vertical-align:top}.sgiri-cell-middle{vertical-align:middle}.sgiri-cell-bottom{vertical-align:bottom}
.sgiri-hide{display:none!important}.sgiri-show-block,.sgiri-show{display:block!important}.sgiri-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.sgiri-auto{max-width:95%}}
@media (max-width:600px){.sgiri-modal-content{margin:0 10px;width:auto!important}.sgiri-modal{padding-top:30px}
.sgiri-dropdown-hover.sgiri-mobile .sgiri-dropdown-content,.sgiri-dropdown-click.sgiri-mobile .sgiri-dropdown-content{position:relative}	
.sgiri-hide-small{display:none!important}.sgiri-mobile{display:block;width:100%!important}.sgiri-bar-item.sgiri-mobile,.sgiri-dropdown-hover.sgiri-mobile,.sgiri-dropdown-click.sgiri-mobile{text-align:center}
.sgiri-dropdown-hover.sgiri-mobile,.sgiri-dropdown-hover.sgiri-mobile .sgiri-btn,.sgiri-dropdown-hover.sgiri-mobile .sgiri-button,.sgiri-dropdown-click.sgiri-mobile,.sgiri-dropdown-click.sgiri-mobile .sgiri-btn,.sgiri-dropdown-click.sgiri-mobile .sgiri-button{width:100%}}
@media (max-width:768px){.sgiri-modal-content{width:500px}.sgiri-modal{padding-top:50px}}
@media (min-width:993px){.sgiri-modal-content{width:900px}.sgiri-hide-large{display:none!important}.sgiri-sidebar.sgiri-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.sgiri-hide-medium{display:none!important}}
@media (max-width:992px){.sgiri-sidebar.sgiri-collapse{display:none}.sgiri-main{margin-left:0!important;margin-right:0!important}.sgiri-auto{max-width:100%}}
.sgiri-top,.sgiri-bottom{position:fixed;width:100%;z-index:1}.sgiri-top{top:0}.sgiri-bottom{bottom:0}
.sgiri-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.sgiri-display-topleft{position:absolute;left:0;top:0}.sgiri-display-topright{position:absolute;right:0;top:0}
.sgiri-display-bottomleft{position:absolute;left:0;bottom:0}.sgiri-display-bottomright{position:absolute;right:0;bottom:0}
.sgiri-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.sgiri-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.sgiri-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.sgiri-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sgiri-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sgiri-display-container:hover .sgiri-display-hover{display:block}.sgiri-display-container:hover span.sgiri-display-hover{display:inline-block}.sgiri-display-hover{display:none}
.sgiri-display-position{position:absolute}
.sgiri-circle{border-radius:50%}
.sgiri-round-small{border-radius:2px}.sgiri-round,.sgiri-round-medium{border-radius:4px}.sgiri-round-large{border-radius:8px}.sgiri-round-xlarge{border-radius:16px}.sgiri-round-xxlarge{border-radius:32px}
.sgiri-row-padding,.sgiri-row-padding>.sgiri-half,.sgiri-row-padding>.sgiri-third,.sgiri-row-padding>.sgiri-twothird,.sgiri-row-padding>.sgiri-threequarter,.sgiri-row-padding>.sgiri-quarter,.sgiri-row-padding>.sgiri-col{padding:0 8px}
.sgiri-container,.sgiri-panel{padding:0.01em 16px}.sgiri-panel{margin-top:16px;margin-bottom:16px}
.sgiri-code,.sgiri-codespan{font-family:Consolas,"courier new";font-size:16px}
.sgiri-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.sgiri-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.sgiri-card,.sgiri-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.sgiri-card-4,.sgiri-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.sgiri-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.sgiri-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.sgiri-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.sgiri-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.sgiri-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.sgiri-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.sgiri-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.sgiri-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.sgiri-animate-input{transition:width 0.4s ease-in-out}.sgiri-animate-input:focus{width:100%!important}
.sgiri-opacity,.sgiri-hover-opacity:hover{opacity:0.60}.sgiri-opacity-off,.sgiri-hover-opacity-off:hover{opacity:1}
.sgiri-opacity-max{opacity:0.25}.sgiri-opacity-min{opacity:0.75}
.sgiri-greyscale-max,.sgiri-grayscale-max,.sgiri-hover-greyscale:hover,.sgiri-hover-grayscale:hover{filter:grayscale(100%)}
.sgiri-greyscale,.sgiri-grayscale{filter:grayscale(75%)}.sgiri-greyscale-min,.sgiri-grayscale-min{filter:grayscale(50%)}
.sgiri-sepia{filter:sepia(75%)}.sgiri-sepia-max,.sgiri-hover-sepia:hover{filter:sepia(100%)}.sgiri-sepia-min{filter:sepia(50%)}
.sgiri-tiny{font-size:10px!important}.sgiri-small{font-size:12px!important}.sgiri-medium{font-size:15px!important}.sgiri-large{font-size:18px!important}
.sgiri-xlarge{font-size:36px!important}.sgiri-xxlarge{font-size:36px!important}.sgiri-xxxlarge{font-size:48px!important}.sgiri-jumbo{font-size:64px!important}
.sgiri-left-align{text-align:left!important}.sgiri-right-align{text-align:right!important}.sgiri-justify{text-align:justify!important}.sgiri-center{text-align:center!important}
.sgiri-border-0{border:0!important}.sgiri-border{border:1px solid #ccc!important}
.sgiri-border-top{border-top:1px solid #ccc!important}.sgiri-border-bottom{border-bottom:1px solid #ccc!important}
.sgiri-border-left{border-left:1px solid #ccc!important}.sgiri-border-right{border-right:1px solid #ccc!important}
.sgiri-topbar{border-top:6px solid #ccc!important}.sgiri-bottombar{border-bottom:6px solid #ccc!important}
.sgiri-leftbar{border-left:6px solid #ccc!important}.sgiri-rightbar{border-right:6px solid #ccc!important}
.sgiri-section,.sgiri-code{margin-top:16px!important;margin-bottom:16px!important}
.sgiri-margin{margin:16px!important}.sgiri-margin-top{margin-top:16px!important}.sgiri-margin-bottom{margin-bottom:16px!important}
.sgiri-margin-left{margin-left:16px!important}.sgiri-margin-right{margin-right:16px!important}
.sgiri-padding-small{padding:4px 8px!important}.sgiri-padding{padding:8px 16px!important}.sgiri-padding-large{padding:12px 24px!important}
.sgiri-padding-16{padding-top:16px!important;padding-bottom:16px!important}.sgiri-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.sgiri-padding-32{padding-top:32px!important;padding-bottom:32px!important}.sgiri-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.sgiri-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.sgiri-padding-top-64{padding-top:64px!important}.sgiri-padding-top-48{padding-top:48px!important}
.sgiri-padding-top-32{padding-top:32px!important}.sgiri-padding-top-24{padding-top:24px!important}
.sgiri-left{float:left!important}.sgiri-right{float:right!important}
.sgiri-button:hover{color:#000!important;background-color:#ccc!important}
.sgiri-transparent,.sgiri-hover-none:hover{background-color:transparent!important}
.sgiri-hover-none:hover{box-shadow:none!important}
/* Colors */
.sgiri-amber,.sgiri-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.sgiri-aqua,.sgiri-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.sgiri-blue,.sgiri-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.sgiri-light-blue,.sgiri-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.sgiri-brown,.sgiri-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.sgiri-cyan,.sgiri-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.sgiri-blue-grey,.sgiri-hover-blue-grey:hover,.sgiri-blue-gray,.sgiri-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.sgiri-green,.sgiri-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.sgiri-light-green,.sgiri-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.sgiri-indigo,.sgiri-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.sgiri-khaki,.sgiri-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.sgiri-lime,.sgiri-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.sgiri-orange,.sgiri-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.sgiri-deep-orange,.sgiri-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.sgiri-pink,.sgiri-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.sgiri-purple,.sgiri-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.sgiri-deep-purple,.sgiri-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.sgiri-red,.sgiri-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.sgiri-sand,.sgiri-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.sgiri-teal,.sgiri-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.sgiri-yellow,.sgiri-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.sgiri-white,.sgiri-hover-white:hover{color:#000!important;background-color:#fff!important}
.sgiri-black,.sgiri-hover-black:hover{color:#fff!important;background-color:#000!important}
.sgiri-grey,.sgiri-hover-grey:hover,.sgiri-gray,.sgiri-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.sgiri-light-grey,.sgiri-hover-light-grey:hover,.sgiri-light-gray,.sgiri-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.sgiri-dark-grey,.sgiri-hover-dark-grey:hover,.sgiri-dark-gray,.sgiri-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.sgiri-pale-red,.sgiri-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.sgiri-pale-green,.sgiri-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.sgiri-pale-yellow,.sgiri-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.sgiri-pale-blue,.sgiri-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.sgiri-text-amber,.sgiri-hover-text-amber:hover{color:#ffc107!important}
.sgiri-text-aqua,.sgiri-hover-text-aqua:hover{color:#00ffff!important}
.sgiri-text-blue,.sgiri-hover-text-blue:hover{color:#2196F3!important}
.sgiri-text-light-blue,.sgiri-hover-text-light-blue:hover{color:#87CEEB!important}
.sgiri-text-brown,.sgiri-hover-text-brown:hover{color:#795548!important}
.sgiri-text-cyan,.sgiri-hover-text-cyan:hover{color:#00bcd4!important}
.sgiri-text-blue-grey,.sgiri-hover-text-blue-grey:hover,.sgiri-text-blue-gray,.sgiri-hover-text-blue-gray:hover{color:#607d8b!important}
.sgiri-text-green,.sgiri-hover-text-green:hover{color:#4CAF50!important}
.sgiri-text-light-green,.sgiri-hover-text-light-green:hover{color:#8bc34a!important}
.sgiri-text-indigo,.sgiri-hover-text-indigo:hover{color:#3f51b5!important}
.sgiri-text-khaki,.sgiri-hover-text-khaki:hover{color:#b4aa50!important}
.sgiri-text-lime,.sgiri-hover-text-lime:hover{color:#cddc39!important}
.sgiri-text-orange,.sgiri-hover-text-orange:hover{color:#ff9800!important}
.sgiri-text-deep-orange,.sgiri-hover-text-deep-orange:hover{color:#ff5722!important}
.sgiri-text-pink,.sgiri-hover-text-pink:hover{color:#e91e63!important}
.sgiri-text-purple,.sgiri-hover-text-purple:hover{color:#9c27b0!important}
.sgiri-text-deep-purple,.sgiri-hover-text-deep-purple:hover{color:#673ab7!important}
/* .sgiri-text-red,.sgiri-hover-text-red:hover{color:#127aea!important} */
.sgiri-text-sand,.sgiri-hover-text-sand:hover{color:#fdf5e6!important}
.sgiri-text-teal,.sgiri-hover-text-teal:hover{color:#009688!important}
.sgiri-text-yellow,.sgiri-hover-text-yellow:hover{color:#d2be0e!important}
.sgiri-text-white,.sgiri-hover-text-white:hover{color:rgb(255, 255, 255)!important}
.sgiri-text-black,.sgiri-hover-text-black:hover{color:#000!important}
.sgiri-text-grey,.sgiri-hover-text-grey:hover,.sgiri-text-gray,.sgiri-hover-text-gray:hover{color:#757575!important}
.sgiri-text-light-grey,.sgiri-hover-text-light-grey:hover,.sgiri-text-light-gray,.sgiri-hover-text-light-gray:hover{color:#f1f1f1!important}
.sgiri-text-dark-grey,.sgiri-hover-text-dark-grey:hover,.sgiri-text-dark-gray,.sgiri-hover-text-dark-gray:hover{color:#3a3a3a!important}
.sgiri-border-amber,.sgiri-hover-border-amber:hover{border-color:#ffc107!important}
.sgiri-border-aqua,.sgiri-hover-border-aqua:hover{border-color:#00ffff!important}
.sgiri-border-blue,.sgiri-hover-border-blue:hover{border-color:#2196F3!important}
.sgiri-border-light-blue,.sgiri-hover-border-light-blue:hover{border-color:#87CEEB!important}
.sgiri-border-brown,.sgiri-hover-border-brown:hover{border-color:#795548!important}
.sgiri-border-cyan,.sgiri-hover-border-cyan:hover{border-color:#00bcd4!important}
.sgiri-border-blue-grey,.sgiri-hover-border-blue-grey:hover,.sgiri-border-blue-gray,.sgiri-hover-border-blue-gray:hover{border-color:#607d8b!important}
.sgiri-border-green,.sgiri-hover-border-green:hover{border-color:#4CAF50!important}
.sgiri-border-light-green,.sgiri-hover-border-light-green:hover{border-color:#8bc34a!important}
.sgiri-border-indigo,.sgiri-hover-border-indigo:hover{border-color:#3f51b5!important}
.sgiri-border-khaki,.sgiri-hover-border-khaki:hover{border-color:#f0e68c!important}
.sgiri-border-lime,.sgiri-hover-border-lime:hover{border-color:#cddc39!important}
.sgiri-border-orange,.sgiri-hover-border-orange:hover{border-color:#ff9800!important}
.sgiri-border-deep-orange,.sgiri-hover-border-deep-orange:hover{border-color:#ff5722!important}
.sgiri-border-pink,.sgiri-hover-border-pink:hover{border-color:#e91e63!important}
.sgiri-border-purple,.sgiri-hover-border-purple:hover{border-color:#9c27b0!important}
.sgiri-border-deep-purple,.sgiri-hover-border-deep-purple:hover{border-color:#673ab7!important}
.sgiri-border-red,.sgiri-hover-border-red:hover{border-color:#f44336!important}
.sgiri-border-sand,.sgiri-hover-border-sand:hover{border-color:#fdf5e6!important}
.sgiri-border-teal,.sgiri-hover-border-teal:hover{border-color:#009688!important}
.sgiri-border-yellow,.sgiri-hover-border-yellow:hover{border-color:#ffeb3b!important}
.sgiri-border-white,.sgiri-hover-border-white:hover{border-color:#fff!important}
.sgiri-border-black,.sgiri-hover-border-black:hover{border-color:#000!important}
.sgiri-border-grey,.sgiri-hover-border-grey:hover,.sgiri-border-gray,.sgiri-hover-border-gray:hover{border-color:#9e9e9e!important}
.sgiri-border-light-grey,.sgiri-hover-border-light-grey:hover,.sgiri-border-light-gray,.sgiri-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.sgiri-border-dark-grey,.sgiri-hover-border-dark-grey:hover,.sgiri-border-dark-gray,.sgiri-hover-border-dark-gray:hover{border-color:#616161!important}
.sgiri-border-pale-red,.sgiri-hover-border-pale-red:hover{border-color:#ffe7e7!important}.sgiri-border-pale-green,.sgiri-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.sgiri-border-pale-yellow,.sgiri-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.sgiri-border-pale-blue,.sgiri-hover-border-pale-blue:hover{border-color:#e7ffff!important}

.sgiri-jumbo  {
    font-size: 2rem;
    font-weight: 500;
   text-shadow: 4px 4px 5px rgb(255, 16, 16);
   
}

.sgiri-text-red{
    color: rgb(255, 255, 255);
}

